.banner {
    width: 1200px;
    height: 800px;
    background-color: #fff;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
}

.aside {
    padding: 100px 0px;
    width: 450px;
    height: 600px;
    background-color: #fff;
    float: right;
    h1 {
        font-size: 30px;
        line-height: 1.2;
        margin: 10px 0;
        // text-align: center;
    }
    .p1 {
        line-height: 22px;
        margin-top: 40px;
        font-size: 14px;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        span {
            color: red;
        }
    }
    .price {
        margin: 50px 0 15px;
        padding: 40px 0;
        border: solid #e4e4e4;
        border-width: 1px 0;
        .fl {
            border-right: #ccc 1px solid;
            p {
                font-size: 40px;
                color: #f51200;
                line-height: 100px;
                padding-right: 20px;
                span {
                    font-size: 25px;
                }
            }
        }
        .fr {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0 20px;
            float: left;
            div {
                margin-bottom: 10px;
            }
            span {
                display: inline-block;
                height: 23px;
                line-height: 23px;
                font-size: 12px;
                text-align: center;
                padding: 0 5px;
                margin-right: 10px;
                color: #fff;
                background-color: #f51314;
                border-radius: 2px;
            }
        }
    }
    .cartbtn,
    .baybtn {
        display: inline-block;
        width: 170px;
        height: 46px;
        line-height: 46px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        border-radius: 20px/50%;
        margin-right: 27px;
        background-color: #444;
        border: none;
        margin-top: 100px;
    }
    .baybtn {
        background-color: red;
    }
}